.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    

}
.navigation-menu li{
    margin: 0px 20px;

    
}

.navigation-menu li a{
    text-decoration: none;
    color:rgb(249, 243, 249);
    font-size: 20px;
    
   
}
.navigation-menu li a:hover {
    color: yellow;
  }
